<% include head %>
<% include auth_menu %>
<h3>About</h3>
<p>Made  by Martin Syvertsen boardplay.in is a page for logging and sharing your boardgaming sessions.</p>
<p><a class="content-link" href="https://github.com/Rangor/boardplay.in">Github page</a></p>
<p><a class="content-link" href="https://github.com/Rangor/boardplay.in/issues">Make a feature request</a></p>
<% include foot %>
