<% if (locals.user) { %>
<div class="menu_divider">
          <ul class="main_menu">
            <li class="main_menu"><a class="menu" href="/">Boardplay.in</a></li>
            <li class="main_menu"><a class="menu" href="/games">Games</a></li>
            <li class="main_menu"><a class="menu" href="/sessions">Sessions</a></li>
            <li class="main_menu"><a class="menu" href="/logsession">Log a new session</a></li>
            <li class="main_menu"><a class="menu" href="/user/<%= user.name %>">Profile</a></li>
            <li class="main_menu"><a class="menu" href="/logout">Logout</a></li>
          </ul>
</div>
<% } else {%>
<div class="menu_divider">
          <ul class="main_menu">
            <li class="main_menu"><b>Boardplay.in</b></li>
          </ul>
</div>
<% } %>

<div class="content">
