<div class="container">
<h1 class="title_header">Boardplay.in</h1>
<% if (locals.user) { %>
          <ul>
            <li class="main_menu"><a href="/games">Games</a></li>
            <li class="main_menu"><a href="/sessions">Sessions</a></li>
            <li class="main_menu"><a href="/logsession">Log a new session</a></li>

            <li class="main_menu"><a href="/user/<%= user._id %>">Profile</a></li>
            <li class="main_menu"><a href="/logout">Logout</a></li>
          </ul>

<% } %>
