<% if (user) { %>
    <h2>Logged in as: <%= user.name %></h2>
    <a href="/logout">Logout<a/><br>
    <a href="/">Main</a><br>
    <a href="/games">Games</a><br>
    <a href="/sessions">Sessions</a><br>
    <a href="/logsession">Log a new session</a><br>

<% } %>
