
    <h3 class="panel-title">Changelog - Beta 1.4</h3>
    <ul class="changelog">
	    <li>More profile page stuff</li>
	    <li>Bugfixes</li>
	    <li>About page (<a class="content-link" href="https://github.com/Rangor/boardplay.in/issues">with feature request link</a>)</li>
	    <li>Brand new CSS</li>
    </ul>
    
	  <div class="footer">
	  <a class="content-link" href="/about">About boardplay.in</a>
	  </div>
