<div class="panel panel-default">
 <div class="panel-heading">
    <h3 class="panel-title">Changelog - Beta 1.1</h3>
  </div>
  <div class="panel-body">
    <ul>
    <li>Changelog added</li>
    <li>Limit on latest games and sessions on main page</li>
    </ul>
  </div>
</div>
