<div class="panel panel-default">
 <div class="panel-heading">
    <h3 class="panel-title">Changelog - Beta 1.2</h3>
  </div>
  <div class="panel-body">
    <ul>
    <li>Stats! Check your profile for fancy stats</li>
    <li>More stats! Check a games page for some stats</li>
    <li>Sort and merge of latest sessions</li>
    <li>Gravatar bugfix</li>
    </ul>
  </div>
</div>
