<% include head %>
<% include auth_menu %>
<br>
<h3>Edit profile</h3>
<form name="input" action="/edituser" method="post">
<input type="hidden" value="<%= userEdit._id %>" name="id">
Display name: <input type="text" value="<%= userEdit.displayName %>" name="displayName"><br>
BGG Link: <input type="text" value="<%= userEdit.bggLink %>" name="bggLink"><br>
Email: <input type="text" value="<%= userEdit.email %>" name="email"><br>
<input type="submit" value="Submit">
</form>