<% var title = 'Im Playing' %>
<% include head %>
<% include auth_menu %>

<% if (games) { %>
<h3>List of games in database</h3>
  <ul>
    <% games.forEach(function(game){ %>
      <a href="/game/<%= game._id %>"><li><%= game.name %></a></li>
    <% }) %>
  </ul>
<% } %>

<% include foot %>
