<% if (games) { %>
  <ul class="gamelist">
    <% games.forEach(function(game){ %>
      <li class="gamelist-item"><div class="gamelist-link"><a href="/game/<%= game._id %>"><%= game.name %></a></div></li>
    <% }) %>
  </ul>
<% } %>