<!DOCTYPE html>
<html>
  <head>
    <title>Boardplay.in</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/boardplay.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  </head>
  <body>
