<% var title = 'Im Playing' %>
<% include head %>
<% include auth_menu %>
<h3>Log a new gaming session</h3>
<form name="input" action="/logsession" method="post">
Game name:<br>
<select name="gamespicker">
<% games.forEach(function(game){ %>
  <option name="<%= game.name %>" value="<%= game._id %>,<%= game.name %>"><%= game.name %></option>
<% }) %>
</select>
<br>
Date:<br><input type="date" value="2014-08-08" name="date"><br>
Summary (optional)<br><textarea rows="4" cols="30" name="summary"></textarea>
<input type="submit" value="Submit">
</form>

<% include foot %>
