<% include head %>
<% include auth_menu %>
<h3>Latest sessions played</h3>
<% include sessionlist %>
<h3>Latest games added</h3>
<% include gamelist %>
<% include changelog %>
</div>
<% include foot %>
