<% var title = 'Authentication Example' %>
<% include head %>

<h1>I'm Playing</h1>

<% if (user) { %>
    <h2>Logged in as: <%= user.name %></h2>
    <a href="/logout">Logout<a/>
<% } %>


<% if (games) { %>
<h3>List of games in database</h3>
  <ul>
    <% games.forEach(function(name){ %>
      <li foo='<%= name + "'" %>'><%= name.name %></li>
    <% }) %>
  </ul>
<% } %>

<% include foot %>
