<% include head %>
<% include auth_menu %>
<h3>New Game</h3>
<form name="input" action="/newgame" method="post">
Game name (requried)<br>
<input type="text" name="name" required="true"><br>

Board Game Geek link (optional)<br>
<input type="url" name="bggLink" ><br>

Description (optional)<br>
<textarea rows="5" cols="50" name="description"></textarea><br>
<input type="submit" value="Submit">
</form>

<% include foot %>
