<% var title = 'Im Playing' %>
<% include head %>
<% include auth_menu %>
<br>
<h3>New Game</h3>
<form name="input" action="/newgame" method="post">

Game name: (requried)<input type="text" name="name" required="true"><br>

Board Game Geek link: (optional)<input type="url" name="bggLink" ><br>

Number of players: (optional)<input type="text" pattern="^[0-9-]+$" placeholder="example: 2-4" name="numberOfPlayers" ><br>

Description (optional)<br><textarea rows="4" cols="30" name="description"></textarea>

<input type="submit" value="Submit">
</form>

<% include foot %>
