<% var title = 'Im Playing' %>
<% include head %>
<% include auth_menu %>
<br>
<% if (plays) { %>
<h3>List of plays in database</h3>
  <ul>
    <% plays.forEach(function(play){ %>
      <li><%= play.gameName %> - <%= play.date %></li>
    <% }) %>
  </ul>
<% } %>

<% include foot %>
