<% include head %>
<% include auth_menu %>
<br>
<h3>Reset password</h3>
<form name="input" action="/resetpassword" method="post">
Userid: <input type="text" name="userid"><br>
New password: <input type="text" name="password"><br>
Secretkey: <input type="text" name="secretkey"><br>
<input type="submit" value="Submit">
</form>