.title_header{
	color: red
}
.main_menu{
	position: relative;
	color:red ;
	font-size: 100%;
	display: block;
	float: left;
	box-sizing: border-box;
	padding: 20px 35px;

}

a:visited {
	color: black;
}

