body, html{
	background: white;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing:subpixel-antialiased;
	font-weight:normal;
}

.content{
	padding-top: 30px;
	padding-left: 20px;
}

.title_header{
	color: #680000 
}

.main_menu{
	color:white ;
	font-size: 100%;
	display: block;
	float: left;
	padding: 10px 20px;
	margin: 0px;
}

ul.main_menu{
	min-width: 700px;
}

.menu_divider{
	margin: 0px;
	background: black;
	width: 100%;
	height: 65px;
}

li.session-item{
	list-style-type: none;
    margin-left:0px;
    padding-left:0px;
	width: 550px;
	height: 55px;
	background: #E8E8E8;
	padding-top: 10px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.session-item p,h3 {
	text-align: left;
	margin-top: -2px;
}

li.session-item img
{
	float:left;
	padding-right: 8px;
	padding-left: 8px;
}



a.menu{
	color:white;
}

a {
	color:black;
	text-decoration: none;
	font-weight: bold;
}



