body, html{
	background: white;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing:subpixel-antialiased;
	font-weight:normal;
	background: AntiqueWhite;
}

img.profile{
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

ul.profile{
	list-style: inside;
}

h3{
	text-align: center;
}

.content{
	padding-top: 30px;
	text-align: center;
	margin: auto;
}

.footer{
	padding-top: 30px;
	padding-left: 20px;
}

.hint{
	padding-top: 50px;
}

.title_header{
	color: #680000 
}

.menu_container{
	width: 100%;
	background:maroon;
	text-align: center;
}

.main_menu{
	color:white ;
	font-size: 100%;
	display: inline-block;
	padding: 10px 20px;
}

.changelog{
	list-style:inside;
}

ul.latest-sessions{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-height: 195px;
	overflow: hidden;

}

li.session-item{
	list-style-type: none;
    margin-left:0px;
    padding-left:0px;
	width: 350px;
	height: 85px;
	border-radius: 5px;
	background: darksalmon;
	padding-top: 10px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.session-item p {
	text-align: left;
	margin-top: 0px;
}

li.session-item img
{
	float:left;
	padding-right: 8px;
	padding-left: 8px;
}

ul.hasplayed{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}

li.hasplayed-item{
	list-style-type: none;
    margin-left:0px;
    padding-left:0px;
	width: 200px;
	height: 50px;
	background: coral;
	padding-top: 10px;
	border-radius: 5px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.hasplayed-item p{
	text-align: center;
	margin-top: 0px;
}

.hasplayed-link{
	text-align: center;
}

ul.gamelist{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}

ul.latest-gamelist{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-height: 125px;
	overflow: hidden;
}

li.gamelist-item{
	list-style-type: none;
    margin-left:0px;
    padding-left:0px;
	width: 200px;
	height: 50px;
	background: coral;
	padding-top: 10px;
	border-radius: 5px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.gamelist-item p{
	text-align: center;
	margin-top: 0px;
}

.gamelist-link{
	text-align: center;
}

a.menu{
	color:white;
}

a.newsession{
	font-weight: normal;
	background-color: #18ab29;
	border : 1px solid #18ab29;
	border-radius: 5px;
	padding: 2px 5px;
}

a {
	color:black;
	text-decoration: none;
	font-weight: bold;
}

.disqus{
	margin: 50px;
}




